<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Untree.co">
    <meta name="description" content="">
    <meta name="keywords" content="bootstrap, bootstrap5">

    <!-- Online Links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Offline Links  -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-grid.css' %}">

    <title>Redirect to Payment</title>
</head>

<body>
    <form action="{% url 'payment_success' stadium_name=stadium.name %}" method="POST">
        {% csrf_token %}
        <div class="container grid-refractor" style="margin-top: 200px;">
            <h2 class="text-black">Pay ₹{{stadium.booking}}? <i class="fa-solid fa-circle-check"></i></h2>
            <input type="hidden" name="amount" value="{{stadium.booking}}">
        </div>
        <div class="grid-refractor">
            <button type="submit" class="btn btn-primary p-x">Pay Now</button>
            <a href="{% url 'see_details' stadium_name=stadium.name %}">
                <h5 class="text-blue text-decoration-underline ml-3">Back</h5>
            </a>
        </div>
        <script src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_NRRgGaBinW8TDd"
            data-amount="{{stadium.booking}}"
            data-currency="INR"
            data-order_id="{{payment.id}}"
            data-buttontext=""
            data-name="findmyfield.com"
            data-description=""
            data-image="{% static 'logo/logo-pay.png' %}"
            data-prefill.name="" 
            data-prefill.email=""
            data-theme.color="#003366">
        </script>
        <input type="hidden" name="hidden">
    </form>
    

    <!-- Online JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Offline JavaScript  -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>